@import "../../global.scss";

.portfolio-list {
  padding: 7px 10px;
  font-size: 15px;
  color: $mint-green-color;
  // border: 2px solid $main-color;
  border-radius: 10px;
  cursor: pointer;
  &.active {
    background-color: $mint-green-color;
    color: white;
    box-shadow: 0px 0px 3px 3px rgba($mint-green-color, 0.1);
  }
}

@include mediaMobile {
  .portfolio-list {
    padding: 5px 7px;
    border: none;
    // border-radius: 0;
    &.active {
      // background-color: transparent;
      background-color: $mint-green-color;
      color: white;
      // border-bottom: 2px solid $main-color;
      box-shadow: none;
    }
  }
}
